<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Properties</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${ not#lists.isEmpty(properties)}">
        <table class="table">
            <thead>
            <tr>
                <th> Type Of Property</th>
                <th> Owner </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="property : ${properties}">
                <td th:text="${property.typeOfProperty}"></td>
                <td th:text="${property.owner}"></td>
                <td>
                    <a class="btn btn-outline-info btn-sm" th:href="@{'/property/profile' + ${property.id}}"> Property Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(properties)}">
        No Properties found!
    </div>
    <a href="/property/new" class="btn btn-primary" role="button">Add new Property</a>
</div>
</body>
</html>